@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

#name {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 19px;
  border-radius: 25px;
}
#name th {
  
  text-align: left;
  border: 2px solid red;
  padding: 8px;
 
  
  
}
h1{
 	text-align: center;
  border: 2px solid;
  background-color: red;
  color: #fff;
  padding: 10px;
  border-radius: 25px;
  font-family: 'Bungee', cursive;
}
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#customers td, #customers th {
  border: 2px solid red;
  padding: 8px;
  
}
#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
 
}
#customers td{
color: blue;
}
